@model tp6.ViewModel.PedidoViewModel

<div class="card">
    <div class="header pt-3 blue-gradient">

        <div class="row d-flex justify-content-center">
            <h3 class="white-text mb-3 pt-3 font-weight-bold">Agregar Pedido</h3>
        </div>
    </div>
    <div class="card-body mx-4 mt-4">
        <form asp-action="CargaPedido" class="form-group">
            <input type="hidden" asp-for="@Model.IdCliente" />
            <br>
            <div class="card-body px-lg-5 pt-0">
                <div class="md-form">
                    <textarea asp-for="@Model.Observacion" class="form-control z-depth-1" id="Textarea6" rows="3" placeholder="Ingrese su observacion..."></textarea>
                </div>
                <div class="md-form">
                    <select asp-for="Estado_actual" class="mdb-select md-form">
                        <option value="0">Recibido</option>
                        <option value="1">Preparado</option>
                        <option value="2">En Camino</option>
                        <option value="3">Entregado</option>
                    </select>
                </div>
                <div class="md-form">
                    @if (Model.IdCadete == 0)
                    {

                        <select asp-for="@Model.IdCadete">
                            @foreach (var Cadetes in Model.InfoCadetes(Model.TPedido))
                            {
                                <option value="@Cadetes.Id">@Cadetes.Nombre</option>
                            }
                        </select>

                    }
                    else
                    {
                        <label>Su Cadete es: @Model.CadeteCargado.Nombre</label><input type="hidden" value="@Model.IdCadete" asp-for="@Model.IdCadete">
                    }
                </div>
                <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Enviar</button>
            </div>
        </form>
    </div>
</div>
<br />
<div class="card">
    <div class="header pt-3 blue-gradient">
        <div class="row d-flex justify-content-center">
            <h3 class="white-text mb-3 pt-3 font-weight-bold">Lista de Pedidos</h3>
        </div>
    </div>
    <div class="card-body mx-4 mt-4">
        <table class="table" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th class="th-sm">ID</th>
                    <th class="th-sm">Observacion</th>
                    <th class="th-sm">Estado</th>
                    <th class="th-sm">Modificar</th>
                    <th class="th-sm">Eliminar</th>
                </tr>
            </thead>
            <tbody>
                @{ foreach (var Pedido in Model.ListadoDePedidos)
                    {
                        <tr>
                            <td class="align-middle">@Pedido.Numpedido</td>
                            <td class="align-middle">@Pedido.Obs</td>
                            <td class="align-middle">@Pedido.Estado_actual</td>
                            <td class="align-middle">
                                <form asp-action="ModificarCadete" method="post" class="form-group">
                                    <input type="hidden" name="_id" value="@Pedido.Numpedido" />
                                    <button type="submit" class="btn btn-outline-info waves-effect">✏️</button>
                                </form>
                            </td>
                            <td class="align-middle">
                                <form asp-action="BajaCadete" aps-method="post" class="form-group">
                                    <input type="hidden" name="_id" value="@Pedido.Numpedido" />
                                    <button type="submit" class="btn btn-outline-danger waves-effect">🗑️</button>
                                </form>
                            </td>
                        </tr>

                    }
                }
            </tbody>
        </table>
    </div>
</div>
<br />