@model tp6.ViewModel.CadetesYPedidosViewModel

<form asp-action="NuevoEstado" class="form-group">
    <input type="hidden" asp-for="@Model.IdCadete" />
    <br>
    <div class="card-body px-lg-5 pt-0">
        <label>Seleccione el cliente: </label>
        <select asp-for="Estado" value="@Model.Estado">
            <option>@EstadoPedido.Recibido</option>
            <option>@EstadoPedido.Preparado</option>
            <option>@EstadoPedido.EnCamino</option>
            <option>@EstadoPedido.Entregado</option>
        </select>
    </div>
    <button class="btn peach-gradient" type="submit">Enviar</button>
</form>
