@model List<Cliente>
    <div class="card card-cascade">
        <div class="view view-cascade gradient-card-header blue-gradient">
            <h2 class="card-header-title mb-3">Clientes</h2>
        </div>
        <div class="card-body card-body-cascade text-center">
            <p>Clientes</p>
            <table id="tablita" class="table" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="th-sm">ID</th>
                        <th class="th-sm">Nombre</th>
                        <th class="th-sm">Direccion</th>
                        <th class="th-sm">Telefono</th>
                        <th class="th-sm">Cupon</th>
                        <th class="th-sm">Lista de Pedidos</th>
                        <th class="th-sm">Modificar</th>
                        <th class="th-sm">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    @{ foreach (var Cliente in Model)
                        {
                            <tr>
                                <td class="align-middle">@Cliente.Id</td>
                                <td class="align-middle">@Cliente.Nombre</td>
                                <td class="align-middle">@Cliente.Direccion</td>
                                <td class="align-middle">@Cliente.Telefono</td>
                                <td class="align-middle">@Cliente.Cupon</td>
                                <td class="align-middle">
                                    <form asp-controller="Pedido" asp-action="Index" method="post" class="form-group">
                                        <input type="hidden" name="id" value="@Cliente.Id" />
                                        <button type="submit" class="btn btn-outline-success waves-effect">➕</button>
                                    </form>
                                </td>
                                <td class="align-middle">
                                    <form asp-action="ModificarCliente" method="post" class="form-group">
                                        <input type="hidden" name="_id" value="@Cliente.Id" />
                                        <button type="submit" class="btn btn-outline-info waves-effect">✏️</button>
                                    </form>
                                </td>
                                <td class="align-middle">
                                    <form asp-action="BajaCliente" aps-method="post" class="form-group">
                                        <input type="hidden" name="_id" value="@Cliente.Id" />
                                        <button type="submit" class="btn btn-outline-danger waves-effect">🗑️</button>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <form asp-action="AltaCliente" class="form-group">
                <button type="submit" class="btn btn-outline-info waves-effect">Nuevo Cliente</button>
            </form>
        </div>
    </div>